<div class="apps" ng-controller="HotelsController">
	<h1>
        <span class="uppercase">{{strings['hotels']}}</span>
        <button class="btn btn-success" ng-click="openForm()">
            <i class="fa fa-plus"></i>{{strings['add_hotel']}}
        </button>
    </h1>
	<div>
        <p class="no-data" ng-if="!model.length">{{strings['no_data']}}</p>
	    <ul>
            <li ng-repeat="item in model" ng-click="edit(item.id)">{{item.name}}</li>
        </ul>
	</div>
    <div ng-include="'/backend/add-hotel.html'"></div>
</div>

