<div class="apps" ng-controller="LanguagesController">
	<h1>
        <span class="uppercase">{{strings['languages']}}</span>
        <button class="btn btn-success" ng-click="openForm()">
            <i class="fa fa-plus"></i>{{strings['add_language']}}
        </button>
    </h1>
	<div>
        <p class="no-data" ng-if="!model.length">{{strings['no_data']}}</p>
	    <ul>
            <li ng-repeat="item in model">{{item.name}} <i class="fa fa-close" ng-click="onDelete(item.id)"></i></li>
        </ul>
	</div>
    <div ng-include="'/backend/add-language.html'"></div>
</div>

